@tailwind base;
@tailwind components;
@tailwind utilities;


/* bowlby-one-sc-latin-400-normal */
@font-face {
  font-family: 'Bowlby One SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  text-transform: capitalize;
  src: url(@fontsource/bowlby-one-sc/files/bowlby-one-sc-latin-400-normal.woff2) format('woff2'), url(@fontsource/bowlby-one-sc/files/bowlby-one-sc-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7l.woff2') format('woff2');
}

h1 {
  font-size: 3.45rem
}
h2 {
  font-size: 2.50rem;
}

body{
  width: 100%;
  height: 100vh;
  background-color: linear-gradient(
    to right,
    #0014ff 0%,
    #0014ff 50%,
    #0094ff 50%,
    #0094ff 100%
  );
  font-size: 1rem
}

.reactP {
  font-family: "Bowlby One SC";
  font-size: 1.3rem;
}

a{
  cursor: pointer;
}

.colorSchemeSquare{
  cursor: pointer;
  height: 40px;
  margin-left: 5px;
  width: 40px;
  display: inline;
  float: right;
}

img.head {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  object-fit: cover;
  border-width: 2px;
}
div.border-empty {
   position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  object-fit: cover;
  border-width: 2px;
}
.be-contain {
  aspect-ratio : 1 / 1;
}

.bg {
  animation:slide 30s ease-in-out infinite alternate;
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:40s;
}

.bg3 {
  animation-duration:50s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}